{% extends "::layout.html.twig" %}

{% block body %}

  	{% for flashMessage in app.session.flashbag.get('alert') %}
	    <div class="alert row">
	        {{ flashMessage }}
	    </div>
	{% endfor %}
	
	{% include 'MCDHUserBundle:Security:form.html.twig' %}

	
{% endblock %}