<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<title>{% block title %}MaChambreDHotel.com{% endblock %}</title>
	
		{% block stylesheets %}
		{% endblock %}
	</head>
	
	<body>
		<header>
			<h1>MaChambreDHotel.com</h1>
			<p>Le site de réservation de chambre d'hôtel</p>
		</header>
		
		<div id="page">
			<div id="menu">
				<h1></h1>
				<ul>
					<li><a href="{{ path('mcdh_hotel_homepage') }}"></a></li>
					<li><a href="{{ path('mcdh_hotel_add') }}"></a></li>
				</ul>
			</div>
			
			<div id="content">
				{% block body %}
	       		{% endblock %}
			</div>
		</div>
	
		<footer>
			<p>This website was created by Simon Bernard and Romain Hunault.</p>
		</footer>
		
	    {% block javascripts %}
		{% endblock %}
	</body>
</html>