{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

	{% for flashMessage in app.session.flashbag.get('alert') %}
	    <div class="alert row">
	        {{ flashMessage }}
	    </div>
	{% endfor %}

	<div class="row ">
		{% block mcdh_hotel_breadcrumb_trail %}
		
			<a href="{{ path('mcdh_hotel_homepage') }}">Hôtels</a>
			
		{% endblock %}
	</div>
	
	<div class="row well">
		{% block mcdh_hotel_page_option %}
		
		{% endblock %}
	</div>
	
	<div class="row well">
		{% block mcdh_hotel_content %}
		{% endblock %}
	</div>  
  


{% endblock %}