{% extends "::layout.html.twig" %}

{% block title %}
  {{ parent() }}
{% endblock %}

{% block body %}

  <h1><a href="{{ path('mcdh_hotel_homepage') }}">Hôtels</a></h1>

  {% block mcdh_hotel_body %}
  	
  {% endblock %}
  
  {% block mcdh_room_body %}
  {% endblock %}

{% endblock %}