{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  {{ 'hotel.ajout.onglet'|trans}} - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
  		<h2>{{ 'hotel.ajout.titre'|trans }}</h2>
  	{% endblock %}
  	
	{% block mcdh_hotel_content %}
		{{ form(form) }}
	{% endblock %}
  	
{% endblock %}