{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Ajout - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

  	{% if is_granted('ROLE_HOTELKEEPER') %}
		{% block mcdh_hotel_page_title %}
  			<h2>Ajout d'un hôtel</h2>
	  	{% endblock %}
	  	
		{% block mcdh_hotel_content %}
			{{ include("MCDHHotelBundle:Hotel:form.html.twig") }}
		{% endblock %}
	{% endif %}
  	
{% endblock %}