{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Ajout - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

	{% block mcdh_hotel_page %}
  		<h2>Ajout d'un hôtel</h2>
  	{% endblock %}
  	
	{% block mcdh_hotel_content %}
		{{ form(form) }}
	{% endblock %}
  	
{% endblock %}