{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Ajout - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

  	<h2>Ajout d'un hôtel</h2>
  
  	{{ form(form) }}
  	
{% endblock %}