{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Supprimer - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

  	<h2>Suppression d'un hôtel</h2>
  
  	<h2>Suppression de l'hôtel "{{ hotel.name }}"</h2>
	<p>Etes-vous sur de vouloir supprimer cet hôtel ?</p>
  	
{% endblock %}