{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Ajout - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
  	
	{% block mcdh_hotel_content %}
		<p>Etes-vous sur de vouloir supprimer {{ hotel.name }} ?</p>
  	
  		<a href="{{ path('mcdh_hotel_view',{'idHotel':hotel.id}) }}">Revenir à l'hôtel</a>
  		{{ form(form) }}
	{% endblock %}
  	
{% endblock %}