{%  extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}

  	<h2>Edition un hôtel</h2>

	{{ form(form) }}
  
{% endblock %}