{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Chambre - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
	<h2><a href="{{ path('mcdh_hotel_view', {'idHotel':hotel.id}) }}">{{ hotel.name }}</a></h2>
	
	{% block mcdh_hotel_content %}
  		<h2>Ajout d'une chambre</h2>

		{{ form(form) }}
	{% endblock %}
	
{% endblock %}