{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Chambre - {{ parent() }}
{% endblock %}

{% block mcdh_hotel_body %}
	
	{% if is_granted('ROLE_HOTELKEEPER') %}
		{% block mcdh_hotel_page_title %}
			{{ parent() }}
			
  			<div class="row">
  				<h2>Ajout d'une chambre</h2>
  			</div>
	  	{% endblock %}
	  	
		{% block mcdh_hotel_content %}
			{{ include("MCDHHotelBundle:Room:form.html.twig") }}
		{% endblock %}
	{% endif %}
	
{% endblock %}