{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Suppression - {{ parent() }}
{% endblock %}

{% block mcdh_room_body %}


	{% block mcdh_hotel_content %}
	
		<h2>Suppression d'une chambre</h2>
		
		<p>Etes-vous sur de vouloir supprimer la chambre {{ room.name }} ?</p>
		<a href="{{ path('mcdh_hotel_view_room', {'idRoom':room.id}) }}">Revenir à la chambre</a>
		{{ form(form) }}
	
	{% endblock %}
	
{% endblock %}