{% extends "MCDHHotelBundle::layout.html.twig" %}

{% block title %}
	Chambre - {{ parent() }}
{% endblock %}

{% block mcdh_room_body %}

	<h2>Edition d'une chambre</h2>
	<a href="{{ path('mcdh_hotel_delete_room', {'idHotel':2,'idRoom':room.id}) }}">Supprimer</a>

	{{ form(form) }}
	
{% endblock %}