{% extends "MCDHRoomBundle::layout.html.twig" %}

{% block title %}
	Chambre - {{ parent() }}
{% endblock %}

{% block mcdh_room_body %}

	<h2>Ajout d'une chambre</h2>

	{{ form(form) }}
	
{% endblock %}