{% extends "MCDHRoomBundle::layout.html.twig" %}

{% block title %}
	Chambre {{ room.name }} - {{ parent() }}
{% endblock %}

	{% block mcdh_room_body %}
	
	<p>	Chambre {{ room.name }}</p>
	<p>	étage n°{{ room.floor }}</p>
	
	{% endblock %}